@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu&display=swap');

:root {
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #000;
}

.app-box {
  display: flex;
  flex-direction: column;
  align-items: center
}

.count {
  color: #fff;
  font-size: 11rem;
  font-family: 'Roboto Mono', monospace;
  text-shadow: 1px 1px 3px #999899;
}

.button-box {
  width: 100vw;

  display: flex;
  justify-content: center;

  background: none;
  outline: none;
}

.btn {
  width: 12rem;
  height: 6rem;

  color: #000;
  background: #fff;
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;

  margin: 0.1%;
  cursor: pointer;
  border: none;
}

.btn:hover {
  transition: .3s;
  background: #c7c7c7;
}